<h1>Aces Up!</h1>

<link href="/assets/css/AcesUp.css" rel="stylesheet">
<script type="text/javascript" src="/assets/webjars/jquery/2.1.3/jquery.js"></script>

<body>

<table>

    <tr><td class="columnOfCards" id="c0">
        <table>
            <tr><td class="cardLocation l0"></td></tr>
            <tr><td class="cardLocation l1"></td></tr>
            <tr><td class="cardLocation l2"></td></tr>
            <tr><td class="cardLocation l3"></td></tr>
            <tr><td class="cardLocation l4"></td></tr>
            <tr><td class="cardLocation l5"></td></tr>
            <tr><td class="cardLocation l6"></td></tr>
            <tr><td class="cardLocation l7"></td></tr>
            <tr><td class="cardLocation l8"></td></tr>
            <tr><td class="cardLocation l9"></td></tr>
            <tr><td class="cardLocation l10"></td></tr>
            <tr><td class="cardLocation l11"></td></tr>
            <tr><td class="cardLocation l12"></td></tr>
            <tr><td class="cardLocation l13"></td></tr>
        </table>
    </td>
        <td class="columnOfCards" id="c1">
            <table>
                <tr><td class="cardLocation l0"></td></tr>
                <tr><td class="cardLocation l1"></td></tr>
                <tr><td class="cardLocation l2"></td></tr>
                <tr><td class="cardLocation l3"></td></tr>
                <tr><td class="cardLocation l4"></td></tr>
                <tr><td class="cardLocation l5"></td></tr>
                <tr><td class="cardLocation l6"></td></tr>
                <tr><td class="cardLocation l7"></td></tr>
                <tr><td class="cardLocation l8"></td></tr>
                <tr><td class="cardLocation l9"></td></tr>
                <tr><td class="cardLocation l10"></td></tr>
                <tr><td class="cardLocation l11"></td></tr>
                <tr><td class="cardLocation l12"></td></tr>
                <tr><td class="cardLocation l13"></td></tr>
            </table>
        </td>
        <td class="columnOfCards" id="c2">
            <table>
                <tr><td class="cardLocation l0"></td></tr>
                <tr><td class="cardLocation l1"></td></tr>
                <tr><td class="cardLocation l2"></td></tr>
                <tr><td class="cardLocation l3"></td></tr>
                <tr><td class="cardLocation l4"></td></tr>
                <tr><td class="cardLocation l5"></td></tr>
                <tr><td class="cardLocation l6"></td></tr>
                <tr><td class="cardLocation l7"></td></tr>
                <tr><td class="cardLocation l8"></td></tr>
                <tr><td class="cardLocation l9"></td></tr>
                <tr><td class="cardLocation l10"></td></tr>
                <tr><td class="cardLocation l11"></td></tr>
                <tr><td class="cardLocation l12"></td></tr>
                <tr><td class="cardLocation l13"></td></tr>
            </table>
        </td>
        <td class="columnOfCards" id="c3">
            <table>
                <tr><td class="cardLocation l0"></td></tr>
                <tr><td class="cardLocation l1"></td></tr>
                <tr><td class="cardLocation l2"></td></tr>
                <tr><td class="cardLocation l3"></td></tr>
                <tr><td class="cardLocation l4"></td></tr>
                <tr><td class="cardLocation l5"></td></tr>
                <tr><td class="cardLocation l6"></td></tr>
                <tr><td class="cardLocation l7"></td></tr>
                <tr><td class="cardLocation l8"></td></tr>
                <tr><td class="cardLocation l9"></td></tr>
                <tr><td class="cardLocation l10"></td></tr>
                <tr><td class="cardLocation l11"></td></tr>
                <tr><td class="cardLocation l12"></td></tr>
                <tr><td class="cardLocation l13"></td></tr>
            </table>
        </td>
    </tr>
</table>

<button id="dealButton"><img src = https://i.pinimg.com/736x/c1/59/b4/c159b4738dae9c9d8d6417228024de8d--playing-card-design-card-card.jpg height = 120></button>

<script>

var game;

function display(game) {
console.log(game);

$( '.columnOfCards .cardLocation' ).html("");

    $.each(game.cols[0], function( key, val ) {
      var x;
      if(val.value > 10){
        if (val.value == 14){
          x = "ace";
        }
        if (val.value == 11){
          x = "jack";
        }
        else if (val.value == 12) {
          x = "queen";
        }
        else if (val.value == 13) {
          x = "king";
        }
      }
      else {
        x = val.value;
      }
      var lnk = ("https://raw.githubusercontent.com/hayeah/playing-cards-assets/master/png/"+x+"_of_"+val.suit+".png").toLowerCase();
      $( '#c0 .l'+key ).html('<img src='+lnk+' height="120">');
        //$( '#c0 .l'+key ).html(val.value + val.suit);
    });

 $.each(game.cols[1], function( key, val ) {
   var x;
   if(val.value > 10){
     if (val.value == 14){
       x = "ace";
     }
     if (val.value == 11){
       x = "jack";
     }
     else if (val.value == 12) {
       x = "queen";
     }
     else if (val.value == 13) {
       x = "king";
     }
   }
   else {
     x = val.value;
   }
   var lnk = ("https://raw.githubusercontent.com/hayeah/playing-cards-assets/master/png/"+x+"_of_"+val.suit+".png").toLowerCase();
   $( '#c1 .l'+key ).html('<img src='+lnk+' height="120">');
        //$( '#c1 .l'+key ).html(val.value + val.suit);
    });

 $.each(game.cols[2], function( key, val ) {
   var x;
   if(val.value > 10){
     if (val.value == 14){
       x = "ace";
     }
     if (val.value == 11){
       x = "jack";
     }
     else if (val.value == 12) {
       x = "queen";
     }
     else if (val.value == 13) {
       x = "king";
     }
   }
   else {
     x = val.value;
   }
   var lnk = ("https://raw.githubusercontent.com/hayeah/playing-cards-assets/master/png/"+x+"_of_"+val.suit+".png").toLowerCase();
   $( '#c2 .l'+key ).html('<img src='+lnk+' height="120">');
      //  $( '#c2 .l'+key ).html(val.value + val.suit);
    });

 $.each(game.cols[3], function( key, val ) {
   var x;
   if(val.value > 10){
     if (val.value == 14){
       x = "ace";
     }
     if (val.value == 11){
       x = "jack";
     }
     else if (val.value == 12) {
       x = "queen";
     }
     else if (val.value == 13) {
       x = "king";
     }
   }
   else {
     x = val.value;
   }
   var lnk = ("https://raw.githubusercontent.com/hayeah/playing-cards-assets/master/png/"+x+"_of_"+val.suit+".png").toLowerCase();
   $( '#c3 .l'+key ).html('<img src='+lnk+' height="120">');
      //  $( '#c3 .l'+key ).html(val.value + val.suit);
    });



}

// Calls ApplicationController.gameGet()
$.getJSON("http://localhost:8080/game", function( data ) {
display(data);
game = data;
});


$("#dealButton").click(function(){
$.ajax({
  type: "POST",
  url: "/dealGame",
  data: JSON.stringify(game),
  success: function(data, status){console.log("Data: " + data + "\nStatus: " + status);
        game = data;
        display(data);},
  contentType:"application/json; charset=utf-8",
  dataType:"json",
});
});


function removeCard(colNumber){
$.ajax({
type: "POST",
url: "/removeCard/"+colNumber,
data: JSON.stringify(game),
success: function(data, status){console.log("Data: " + data + "\nStatus: " + status);
game = data;
display(data);},
contentType:"application/json; charset=utf-8",
dataType:"json",
});

}

var col0 = 0;
var col1 = 0;
var col2 = 0;
var col3 = 0;

$("#c0").click(function(){
    if(col0 == 1){
        $("#c0").css("background-color", "darkgreen");
        removeCard(0);
        col0 = 0;
        col1 = 0;
        col2 = 0;
        col3 = 0;
    }
    else if(col1 == 1){
        $("#c1").css("background-color", "darkgreen");
        moveCard(1,0);
        col0 = 0;
        col1 = 0;
        col2 = 0;
        col3 = 0;
    }
    else if(col2 == 1){
        $("#c2").css("background-color", "darkgreen");
        moveCard(2,0);
        col0 = 0;
        col1 = 0;
        col2 = 0;
        col3 = 0;
    }
    else if(col3 == 1){
        $("#c3").css("background-color", "darkgreen");
        moveCard(3,0);
        col0 = 0;
        col1 = 0;
        col2 = 0;
        col3 = 0;
    }
    else{
        $("#c0").css("background-color", "red");
        col0 = 1;
    }
});

$("#c1").click(function(){
    if(col1 == 1){
        $("#c1").css("background-color", "darkgreen");
        removeCard(1);
        col0 = 0;
        col1 = 0;
        col2 = 0;
        col3 = 0;
    }
    else if(col0 == 1){
        $("#c0").css("background-color", "darkgreen");
        moveCard(0,1);
        col0 = 0;
        col1 = 0;
        col2 = 0;
        col3 = 0;
    }
    else if(col2 == 1){
        $("#c2").css("background-color", "darkgreen");
        moveCard(2,1);
        col0 = 0;
        col1 = 0;
        col2 = 0;
        col3 = 0;
    }
    else if(col3 == 1){
        $("#c3").css("background-color", "darkgreen");
        moveCard(3,1);
        col0 = 0;
        col1 = 0;
        col2 = 0;
        col3 = 0;
    }
    else{
        $("#c1").css("background-color", "red");
        col1 = 1;
    }
});

$("#c2").click(function(){
    if(col2 == 1){
        $("#c2").css("background-color", "darkgreen");
        removeCard(2);
        col0 = 0;
        col1 = 0;
        col2 = 0;
        col3 = 0;
    }
    else if(col0 == 1){
        $("#c0").css("background-color", "darkgreen");
        moveCard(0,2);
        col0 = 0;
        col1 = 0;
        col2 = 0;
        col3 = 0;
    }
    else if(col1 == 1){
        $("#c1").css("background-color", "darkgreen");
        moveCard(1,2);
        col0 = 0;
        col1 = 0;
        col2 = 0;
        col3 = 0;
    }
    else if(col3 == 1){
        $("#c3").css("background-color", "darkgreen");
        moveCard(3,2);
        col0 = 0;
        col1 = 0;
        col2 = 0;
        col3 = 0;
    }
    else{
        $("#c2").css("background-color", "red");
        col2 = 1;
    }
});

$("#c3").click(function(){
    if(col3 == 1){
        removeCard(3);
        col1 = 0;
    }
    else if(col0 == 1){
        $("#c0").css("background-color", "darkgreen");
        moveCard(0,3);
        col0 = 0;
        col1 = 0;
        col2 = 0;
        col3 = 0;
    }
    else if(col1 == 1){
        $("#c1").css("background-color", "darkgreen");
        moveCard(1,3);
        col0 = 0;
        col1 = 0;
        col2 = 0;
        col3 = 0;
    }
    else if(col2 == 1){
        $("#c2").css("background-color", "darkgreen");
        moveCard(2,3);
        col0 = 0;
        col1 = 0;
        col2 = 0;
        col3 = 0;
    }
    else{
        $("#c3").css("background-color", "red");
        col3 = 1;
    }
});


function moveCard(colFrom,colTo){
$.ajax({
  type: "POST",
  url: "/moveCard/"+colFrom+"/"+colTo,
  data: JSON.stringify(game),
  success: function(data, status){console.log("Data: " + data + "\nStatus: " + status);
        game = data;
        display(data);},
  contentType:"application/json; charset=utf-8",
  dataType:"json",
});
}

$("#moveButton").click(function(){
var colFrom = $("#from_col").val();
var colTo = $("#to_col").val();
$.ajax({
  type: "POST",
  url: "/moveCard/"+colFrom+"/"+colTo,
  data: JSON.stringify(game),
  success: function(data, status){console.log("Data: " + data + "\nStatus: " + status);
        game = data;
        display(data);},
  contentType:"application/json; charset=utf-8",
  dataType:"json",
});
});


</script>



</body>
</html>
